# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/BE/Students.http
/BE/node_modules
/BE/.env

/FE/node_modules
/FE/.env
/FE/dist
/FE/dist-ssr
/FE/*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*